:root{
    font: 500 26px Helvetica, Arial, sans-serif;
  }
body {
  background: #a3f9fff5;
  margin: 0; 
}
.container {
  min-height: 100vh;
  width:100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.words-app {
  background: #a3e2fff5;
  width: 100%;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 0 2px 1px rgba(105, 240, 250, 0.822);
  max-width: calc(100%);
  display: flex;
  flex-direction:  column;
  align-items: center;
}
.word-collection {
  list-style: none;
  width: 100vw;
  height: 80%;
  order: -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.word{
  flex: 1 1 25%;
}
[class^="word-collection__item"] {
  cursor: pointer;
  max-width: 200px;
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: bisque;
  letter-spacing: 3px;
  box-sizing: border-box;
  border-bottom:1px solid white;
}
.word-collection__item--completed {
  color: red;
}
.text{
  width: calc(100% - 20px);
  position: relative;
  height: 80px;
  padding: 0, auto;
}
.text-input {
  border: 0;
  height: 100%;
  width: 60%;
  color: #a3e2fff5;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
.text-input::placeholder {
  color:  #a3f9fff5;
  font-size: 1rem;
}
.text-input {
  outline: none;
}
.text-input__button {
  position: absolute;
  display: block;
  width: 60px;
  height: 100%;
  background: transparent;
  border:1px solid white;
  font-size: 20px;
}
.text-input__button {
  outline: none;
}
/* 
@media only screen and (min-width: 730px) {
  .container{
    max-width: 720px;
    justify-content: flex-end;
  }
.words-app {
  order: -1;
  flex-direction: row-reverse;
  }
}  */